.banner{
    min-height: 216px;
    justify-content: center;
    position: relative;
    overflow: hidden;
}
.slide{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}
.slide1{
    background-image: url(../assets/slider/10.png);
}
.slide2{
    background-image: url(../assets/slider/20.png);
    animation: slide2-opacity infinite 9s;
}
.slide3{
    background-image: url(../assets/slider/30.png);
    animation: slide3-opacity infinite 9s;
}

.text-overlay{
    color:#fff;
    align-self: center;
    text-decoration: none;
    position: relative; 
    font-family: var(--display-font);
    font-size: 1.5rem; 
}
.flex-all{
    display: flex;
}
.arrow{
    margin-top: 200px;
}

.prev, .next{
    cursor: pointer;
    position: absolute;
    top: 29%;
    /* top: 18%; */
    width: auto;
    /* padding: 2px 10px; */
    padding: 2px 34px;
    /* padding: 16px; */
    margin-top: -52px;
    color: white;
    /* font-weight: bold; */
    font-size: 36px;
    /* border-radius: 0 3px 3px 0; */
    user-select: none;
    -webkit-user-select: none;
}
.next {
    right: 0px;
    border-radius: 3px 0 0 3px;
}

@media screen and (min-width: 768px){
    .prev, .next{
        top: 18%;      
    }

    .next {
        right: 58px;
    }

}

@media screen and (min-width: 1200px){
    .prev, .next{
        top: 53%;      
    }

    .next {
        right: 58px;
    }
    .banner{
        min-height: 329px !important;
    }
}

